*{
  box-sizing: border-box;
}

body{
  height: 100vh;
  width: auto;
  color: white;
  font-family: 'Raleway', sans-serif;
  background: linear-gradient(14deg, #185091, #be0000);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 17s ease infinite;
  -moz-animation: AnimationName 17s ease infinite;
  animation: AnimationName 17s ease infinite;
  
}

.about-team{
  display: none;
}

.decoder {
  display: none;
}

@-webkit-keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}
@keyframes AnimationName {
    0%{background-position:34% 0%}
    50%{background-position:67% 100%}
    100%{background-position:34% 0%}
}

@font-face {
  font-family: lastninja;
  src: url('/fonts/lastninja.ttf');
}

@font-face {
  font-family: CFSamuraiBob;
  src: url('/fonts/CFSamuraiBob.ttf');
}
