
@media only screen and (min-width: 510px) {
  /*page break for tablets*/

  .float-left{
    float: left;
  }

  .float-right {
    float: right;
  }

  .ham-menu{
    display: none;
  }

  .main-nav ul li {
    display: inline;
  }
  .main-header{
    font-size:8vw;
  }


}

@media only screen and (min-width: 768px) {
  /*page break for desktops*/
  .option {
    width: 40%;
  }
}
