
@media only screen and (min-width: 557px) {
  /*page break for tablets*/

  .float-left{
    float: left;
  }

  .float-right {
    float: right;
  }

  .ham-menu{
    display: none;
  }

  .main-nav ul{
    display: flex;
  }
  .main-nav ul li {
    display: inline;
  }
  .main-header{
    font-size:8vw;
  }
  
  .brand-name{
    width: 40%; 
  }

  .brand-name a{
    font-size: 3em;
  }

  .game-form select{
      font-size: 2vw;
  }

  .game-form label{
    font-size: 2vw;
  }

  .stats-container {
    flex-wrap: nowrap;
  }

  .stats-container div {
    width: 25%;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.2rem;
  }

  .play-button {
    font-size: 6vw;
  }


}

@media only screen and (min-width: 768px) {
  /*page break for desktops*/
  .option {
    width: 40%;
    padding-top:20px;
    padding-bottom:20px;
    margin-top:5vh;
    margin-bottom: 5vh;
  }
    .stats-container div {
    font-size: 1.5rem;
  }


}
