/*Homepage Region*/

.main-nav{
  display: flex;
  width: 100%;
  background-color: black;
  align-items: center;
  justify-content: space-around;
}

.main-nav ul{
  display: none;
  width: 60%;
  justify-content: flex-end;
  text-decoration: none;
  list-style: none;
}

.main-nav ul li {
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}

.main-nav ul li:hover {
  color:black;
  background-color: #731E24;
  border-radius: 10px;
}

.mobile-menu{
  display: none;
  background: black;
  color: white;
  font-size: 2.5em;
  margin-top: -2.5vh;
}

.mobile-menu-shown{
  display: block;
}

.mobile-menu ul{
  list-style: none;
}

.mobile-menu ul li{
  margin-top:10px;
  margin-bottom: 10px;
}

.menu-item a{
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  text-decoration: none;
}

.brand-name{
  width: 70%;
}
.brand-name a{
  font-family: CFSamuraiBob, cursive;
  font-size: 3.5em;
  text-align: center;
  color:white;
  margin-left: 5%;
  text-decoration: none;
  display: inline;
}


.ham-menu i{
    font-size: 2rem;
    margin: 2.5%;
    margin: 2.5%;
    animation: spin 3s infinite;
}
/*Hero Region*/

.main-header{
  text-align: center;
  font-size: 10vw;
  width: 90%;
  background: white;
  margin: auto;
  margin-top: 5vh;
  color: black;
}
.game-form {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 65%;
  background-color: rgba(35, 35, 35, 0.50);
  color: white;
  border-radius: 10px;
}

.game-form {
  font-size: 1.5em;
}

.game-form label{
  display: block;
  font-size: 6vw;
}

.game-form select {
  color: black;
  font-size: 6vw;
  margin-top: 15px;
  text-transform: uppercase;
}

.play-button {
  background-color: #731E24;
  color: white;
  height: 20%;
  width: 50vw;
  font-size: 8vw;
  font-weight: 800;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 2.5vh;
}

/*Question Region*/
.question-container {
  width: 80%;
  height: 100%;
  margin: auto;
  background: rgba(35, 35, 35, 0.50);
  color:white;
  border-radius: 0px 0px 10px 10px;
}

.question-header {
  text-align: center;
  background-color: white;
  color: black;
  font-size: 1.5em;
  padding: 4px;
  margin-top: 5vh;
}

.option-container{
  display:flex;
  margin-top:10vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option{
  width: 60%;
  margin-top: 3%;
  text-align:center;
  background-color: #731E24;
  padding: 5px;
  font-size:1.3em;
  padding-top:20px;
  padding-bottom:20px;
  margin-top:2vh;
  margin-bottom: 2vh;
  border-radius: 5px;
}

.question-button{
  background-color: #27ae60;
  color: #fff;
  width: 30%;
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 60%;
  padding: 5px;
  border-radius: 5px;
}

.free-button{
  background-color: #27ae60;
  color: #fff;
  width: 30%;
  font-size: 2em;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}


.quit-button{
  background-color: red ;
  color: #fff;
  width: 30%;
  font-size: 2em;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.freeplaybuttons {
  display: flex;
  justify-content: space-around;
  margin: 1em;
}

.stats-container {
  font-family: 'Raleway', sans-serif;
  display: none;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  background-color: #731E24;
  margin:auto;
  width: 80%;
  margin-top: 3vh;
  font-size: 1.3em;
  font-weight: 600;
}

.stats-container div{
  margin-top: 10px;
  margin-bottom: 10px;
  width:45%;
}

.question-selected {
  background-color: pink;
}

/*About Team 7 Region*/

.about-team {
  align-items: center;
}

.pic {
  max-width: 15%;
  margin: 0 2%;
  vertical-align: top;
}

.bio-text {
  display: inline-block;
  max-width: 75%;
  margin: 0 2%;
  background-color: #404040;
  padding: 1.2em 1.2em;
}

.bio{
  display: inline-block;
  width: 100%;
  line-height: 1.3;
}

.bio-contacts {
  max-width: 100%;
}
.bio-contacts, .bio-contacts ul, .bio-contacts li{
  list-style: none;
  display: inline-block;
  padding: 1em 1em;
  text-align: center;
  background-color: #404040;
  color: white;
  text-decoration: none;
}

/*Trivia Complete Region*/
.trivia-complete-container{
  margin: 2em 2em;
  display: none;
  max-width: 100%;
  background-color: #404040;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
  padding: 2.5% 2.5%;
}

.trivia-complete-container div{
  flex-wrap: wrap;
}

.line-score-container{
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.line-score-container div{
  margin: 1em 0.5em;
  max-width: 100%;
}

.top10 {
  margin: 1em 0;
}

.save-score-button {
  max-width: 100%;
  margin: 1.5em;
  padding: 1em 1em;
  background-color: #731E24;
  text-align: center;
  font-size: 125%;
}

.final-header{
  font-size: 2em;
  text-align: center;
  margin: 0.5em;
}

.play-again-button{
  float:right;
  margin-top: 2%;
  padding: 0.5em 1em;
  background-color: #27ae60;
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

.leaderboard-div{
  margin: 2em 0;

}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
