/*Homepage Region*/
.game-box {
}

.main-nav{
  display: flex;
  width: 100%;
  background-color: black;
  align-items: center;
}

.main-nav ul{
  display: inline;
  float: right;
}

.menu-item a{
  color: white;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
}

.brand-name a{
  font-family: CFSamuraiBob, cursive;
  font-size: 4em;
  text-align: center;
  color:white;
  margin-left: 5%;
  text-decoration: none;
  display: inline;
  border: solid yellow;
}


.ham-menu i{
    font-size: 2rem;
    margin: 2.5%;
    margin: 2.5%;
    animation: spin 3s infinite;
}
/*Hero Region*/

.main-header{
  text-align: center;
  font-size: 15vw;
}
.game-form {
  text-align: center;
  margin: auto;
  width: 80%;
  height: 50vh;
  background-color: rgba(116, 150, 205, 0.22);
  color: white;
  border-radius: 10px;
}

.game-form {
  font-size: 1.5em;
}

.game-form label{
  font-size: 4vw;
}

.game-form select {
  color: black;
  font-size: 4vw;
  margin-top: 15px;
  text-transform: uppercase;
}

.play-button {
  background-color: white;
  color: black;
  height: 30%;
  width: 60vw;
  font-size: 10vw;
  font-weight: 800;
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-top: 10vh;
}

/*Question Region*/

.question-container {
  width: 80%;
  height: 90%;
  margin: auto;
  background: grey;
  color:white;
}

.question-header {
  text-align: center;
  font-size: 1.5em;
  padding: 4px;
}

.option-container{
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.option{
  width: 60%;
  margin-top: 3%;
  text-align:center;
  background-color: blue;
  padding: 5px;
  border-radius: 5px;
}

.question-button{
  background-color: red ;
  color: #fff;
  width: 20%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 70%;
  padding: 5px;
  border-radius: 5px;
}

.free-button{
  background-color: red ;
  color: #fff;
  width: 20%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 70%;
  padding: 5px;
  border-radius: 5px;
}


.quit-button{
  background-color: red ;
  color: #fff;
  width: 20%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 2%;
  margin-left: 70%;
  padding: 5px;
  border-radius: 5px;
}
.stats-container {
  font-family: 'Raleway', sans-serif;
  display: none;
  text-align: center;
  background-color: pink;
  margin:auto;
  width: 80%;
  font-size: 1.3em;
  font-weight: 600;
}

.stats-container div{
  width:25%;
}

.question-selected {
  background-color: pink;
}


/*About Team 7 Region*/

.about-team {
  align-items: center;
}

.about-team img {
  width: 150px;
  height: auto;
}

.bio-text {
  width: 80%;
}

.nicu {
  margin-bottom: 5em;
}

.mport {
  margin-top: 8em;
  margin-bottom: 8em;
}

/*Trivia Complete Region*/
.trivia-complete-container{
  display:none;
  width:80%;
  margin:auto;
  background-color: grey;
  color:white;
  text-align:center;
  font-family: 'Raleway', sans-serif;
}

.line-score-container{
  display:flex;
  justify-content: space-around;
  align-items:center;
}

.line-score-container div{
 width: 30%;
}

.save-score-button {
  width: 10%;
  margin:auto;
  margin-top:1%;
  margin-bottom:1%;
  background-color: pink;
  text-align: center;
}

.final-header{
  font-size: 2em;
  text-align: center;
}

.play-again-button{
  float:right;
  margin-top: 2%;
  padding: 1%;
  background-color: pink;
  font-size: 2em;
  font-weight: 700;
}


@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}